{% extends "bootstrap/base.html" %} {% block title %} Anemia Disease Predictor
{% endblock %} {% block styles %} {{super()}}
<head>
  <link rel="stylesheet" href="/static/starter-template.css " />
</head>
{% endblock %} {% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#navbar"
        aria-expanded="false"
        aria-controls="navbar"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"
        >IDENTIFICATION OF ANEMIA DISEASE USING ANN</a
      >
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="{{ url_for('login') }}">Sign In</a></li>
        <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
<div style="background-image: url('/static/img/home_bc.jpg');">
  <div class="container">
    <div class="starter-template">
      <img src="/static/img/anemia.jpg" height="200" width="600">
      <div class="top-right"> </div>

    <h1>
      Welcome to Prediction of Anemia disease using ANN
    </h1>
    <br />
    <p class="lead">
      We use Artificial Neural Networks in predicting whether a person is
      suffering from Sickle Cell Anemia or Thalassemia.<br /><br />
      After Signing up you can instantly check whether you are suffering from
      Anemia or not.<br />
      All we need is your Latest Blood Report Data.
    </p> <br />
    <strong style="font-size: large;">Please Signin or Signup to continue</strong>
    </div>
  </div>

<div class="container-fluid" style="text-align: center;">
  <a class="btn btn-primary" href="{{url_for('signup')}}">Sign Up</a>
  &nbsp;&nbsp;
  <a class="btn btn-primary" href="{{url_for('login')}}">Sign In</a><br/> <br/> <br/><br/><br/>
</div>  
</div>
<body></body>

{% endblock %}

